* {
    box-sizing: border-box;
  }
  .body {
    font-family:Verdana;
    color:#aaaaaa;
    display: flex;
    flex-direction: column;
    background-image: url('./images/wallbg.png');
    background-attachment: fixed;
    background-size: cover;
    max-width: 800px;
    margin: 0 auto;
    justify-items:center;
    margin-bottom: 50px;
  }
  .header {
    padding:15px;
    text-align:center;
  }
  .header-img {
      width: 90%;
  }
  .img-container {
    overflow:auto;
    display:flex; 
    align-items: flex-start;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;
    overflow: hidden;
}
  .img-column {
    margin: 4px;
    display: inline-block;
    width: 27%;
    text-align: center;
  }
  .button {
      width: 70%;
  }
  .opensea {
    width: 20%;
  }
  
  /* These tags hold the order of the images.
     Unique order needed for mobile version. */
  #img1 {
    order: 1;
  }
  #img2 {
    order: 2;
  }
  #img3 {
    order: 3;
  }
  #img4 {
    order: 4;
  }
  #img5 {
    order: 5;
  }
  #img6 {
    order: 6;
  }
  #img7 {
    order: 7;
  }
  #img8 {
    order: 8;
  }
  #img9 {
    order: 9;
  }
  #img10 {
    order: 10;
  }
  #img11 {
    order: 11;
  }
  
  @media only screen and (max-width: 700px) {
    /* For mobile phones: */
    .header-img {
        width: 80%;
    }
    .img-column, .main, .right {
      width: 100%;
    }    
    .img-container {
      flex-direction:column;
      align-items: center;
      height: 100%;
    }
    .img-container img {
      width: 80%;
    }
    .button {
        width: 40% !important;
    }
    .opensea {
      width: 40% !important;
    }

    /* Change the ordering of photos in mobile version */
    #img1 {
      order: 4;
    }
    #img2 {
      order: 2;
    }
    #img3 {
      order: 3;
    }
    #img4 {
      order: 1;
    }
    #img5 {
      order: 7;
    }
    #img6 {
      order: 8;
    }
    #img7 {
      order: 9;
    }
    #img8 {
      order: 10;
    }
    #img9 {
      order: 11;
    }
    #img10 {
      order: 5;
    }
    #img11 {
      order: 6;
    }
  }